*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans Expanded', 'Poppins', sans-serif;

}
:root {
  --logoblue: #1976D2;
  --white: #F1FAEE; 
  --dblue: #1D3557;
  --nblue: #457B9D;
  --lblue: #A8DADC;
}

